{% extends '_base_list.html' %}
{% load i18n static %}
{% block table_search %}
{% endblock %}
{% block table_container %}
<div class="uc pull-left m-r-5"><a href="{% url "transfer:schedule-import-create" %}" class="btn btn-sm btn-primary"> {% trans "Transfer in create" %} </a></div>
<table class="table table-striped table-bordered table-hover " id="schedule_list_table" >
    <thead>
        <tr>
            <th class="text-center">任务名 </th>
            <th class="text-center">类型</th>
            <th class="text-center">执行时间</th>
            <th class="text-center">状态</th>
            <th class="text-center">创建人</th>
            <th class="text-center">创建时间</th>
            <th class="text-center">备注</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script>

function initTable() {
     var options = {
        ele: $('#schedule_list_table'),
        columnDefs: [
            {targets: 0, createdCell: function (td, cellData, rowData) {
                var detail_btn = '<a href="{% url 'transfer:schedule-import-update' pk=DEFAULT_PK %}">' + cellData.name + '</a>';
                $(td).html(detail_btn.replace("{{ DEFAULT_PK }}", rowData.id));
            }},
            {targets: 1, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData)
            }},
            {targets: 2, createdCell: function (td, cellData) {
                $(td).html(cellData);
            }},
            {targets: 3, createdCell: function (td, cellData) {
                if (!cellData.enabled) {
                    $(td).html('<i class="fa fa-times text-danger"></i>')
                 } else {
                    $(td).html('<i class="fa fa-check text-navy"></i>')
                 }
            }},
            {targets: 4, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData)
            }},
            {targets: 5, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData.replace(' +0800', ''))
            }},
            {targets: 6, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData.replace(/\n/g, '<br>'))
            }},
            {targets: 7, createdCell: function (td, cellData, rowData) {
                $(td).html(
                    '<div class="btn-group">' +
                        '<button class="btn btn-success btn-xs" onclick="activeSchedule(\'' + cellData.name + '\')">激活</button>' +
                        '<button class="btn btn-danger btn-xs" onclick="deleteSchedule(' + cellData.name + ')">删除</button>' +
                    '</div>'
                )
            }}
        ],
        ajax_url: '{% url "api-ops:schedule-list" %}' + '?type=1&creator={{ user.id }}',
        columns: [
            {data: "periodic"},
            {data: "type_info" },
            {data: "crontab_info" },
            {data: "periodic" },
            {data: "creator"},
            {data: "create_time"},
            {data: "comment", orderable: false},
            {data: "periodic", orderable: false}
        ],
        op_html: $('#actions').html()
    };
    table = jumpserver.initDataTable(options);
    return table
}

$(document).ready(function(){
    initTable();
});

function activeSchedule(periodic_task_name) {
    $.ajax({
            url: "{% url 'api-ops:periodic_task-active' %}",
            method: 'POST',
            data: JSON.stringify({'task_name': periodic_task_name}),
            dataType: "json",
            contentType : 'application/json',
            success: function (data, textStatus) {
                if (data.status){
                    location.reload()
                }
                else {
                    console.log(data.message)
                }
            },
            error: function () {
                toastr.error('Table not found');
            }
        });
}

function deleteSchedule(periodic_task_id) {

}
</script>
{% endblock %}

