{% extends '_base_create_update.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% load asset_tags %}
{% load common_tags %}
{% block custom_head_css_js_create %}
    <link href="{% static 'css/plugins/datetimepicker/bootstrap-datetimepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block form %}
    <form action="" method="post" class="form-horizontal">
    {% if form.non_field_errors %}
         <div class="alert alert-danger">
             {{ form.non_field_errors }}
         </div>
    {% endif %}
    {% csrf_token %}
    {% bootstrap_field form.name layout="horizontal" %}
    {% bootstrap_field form.database layout="horizontal" %}
    {% bootstrap_field form.tables layout="horizontal" %}
    {% bootstrap_field form.crontab layout="horizontal" %}
    {% bootstrap_field form.comment layout="horizontal" %}
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-default" type="reset"> {% trans 'Reset' %}</button>
            <button id="submit_button" class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
        </div>
    </div>
    </form>
{% endblock %}

{% block custom_foot_js %}
<script src="{% static 'js/plugins/datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<script>
    $(document).ready(function () {
        initTables('{{ database_id }}');
        $('.select2').select2();
    }).on('click', '.field-tag', function() {
        changeField(this);
    }).on('click', '#change_all', function () {
        var tag_fields = $('.field-tag');
        var $this = $(this);
        var active = '1';
        if ($this.attr('value') == '0'){
            active = '0';
            $this.attr('value', '1').addClass('label-primary')
        } else {
            active = '1';
            $this.attr('value', '0').removeClass('label-primary')
        }
        $.each(tag_fields, function (k, v) {
            changeField(v, active)
        })
     });

    function changeField(obj, active) {
        var $this = $(obj);
        var field_id = $this.data('id');
        if (!active) {
            active = $this.attr('value');
        }
        if (active == '0') {
            $this.attr('value', '1').addClass('label-primary');
            var form_groups = $('#add_form .form-group:not(.abc)');
            form_groups.filter(':has(#'  + field_id + ')').show().find('select,input').prop('disabled', false)
        } else {
            $this.attr('value', '0').removeClass('label-primary');
            var form_groups = $('#add_form .form-group:not(.abc)');
            form_groups.filter(':has(#'  + field_id + ')').hide().find('select,input').prop('disabled', true)
        }
    }

    $('#id_crontab').datetimepicker({
        autoclose: true,
        todayBtn: true,
        startDate: getNowFormatDate()
    });

    $('select:first').change(function(){
        var database_id=$(this).children('option:selected').val();
        initTables(database_id);
    });

    function initTables(database_id) {
        $.ajax({
            url: "{% url 'api-transfer:table-list' %}" + '?database=' + database_id,
            method: 'GET',
            data: {},
            dataType: "json",
            success: function (data, textStatus) {
                var options_html='';
                for (var i in data){
                    if ('{{ tables }}'.indexOf(data[i].id) !== -1){
                        options_html += '<option value="'+data[i].id+'" selected>'+data[i].name+'</option>'
                    } else {
                        options_html += '<option value="'+data[i].id+'">'+data[i].name+'</option>'
                    }
                 }
                $('#id_tables').html(options_html);
                {#console.log(data)#}
            },
            error: function () {
                toastr.error('Table not found');
            }
        });
    }

    function getNowFormatDate() {
        var date = new Date();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var min = date.getMinutes();
        if (month < 10){
            month = '0' + month;
        }
        if (day < 10){
            day = '0' + day;
        }
        if (hour < 10){
            hour = '0' + hour;
        }
        if (min < 10){
            min = '0' + min;
        }
        var now = date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + min;
        return now;
    }

</script>
{% endblock %}