{% extends '_base_list.html' %}
{% load i18n static %}
{% block table_search %}
{% endblock %}
{% block table_container %}
<div class="uc pull-left m-r-5"><a href="{% url "transfer:schedule-export-create" %}" class="btn btn-sm btn-primary"> {% trans "Transfer in create" %} </a></div>
<table class="table table-striped table-bordered table-hover " id="schedule_list_table" >
    <thead>
        <tr>
            <th class="text-center">任务名 </th>
            <th class="text-center">命令</th>
            <th class="text-center">执行时间</th>
            <th class="text-center">状态</th>
            <th class="text-center">创建人</th>
            <th class="text-center">更新时间</th>
            <th class="text-center">备注</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script>

function initTable() {
     var options = {
        ele: $('#schedule_list_table'),
        columnDefs: [
            {targets: 0, createdCell: function (td, cellData, rowData) {
                var detail_btn = '<a href="{% url 'transfer:schedule-export-update' pk=DEFAULT_PK %}">' + cellData.name + '</a>';
                $(td).html(detail_btn.replace("{{ DEFAULT_PK }}", rowData.id));
            }},
            {targets: 1, createdCell: function (td, cellData, rowData) {
                var html_info = '';
                for (var i in cellData.cmd){
                    html_info += cellData.cmd[i] + '</br>'
                }
                $(td).html(html_info);
            }},
            {targets: 2, createdCell: function (td, cellData) {
                $(td).html(cellData)
            }},
            {targets: 3, createdCell: function (td, cellData) {
                $(td).html(
                    '<span class="label label-primary">' + cellData + '</span>'
                )
            }},
            {targets: 4, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData)
            }},
            {targets: 5, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData.replace(' +0800', ''))
            }},
            {targets: 6, createdCell: function (td, cellData, rowData) {
                $(td).html(cellData.replace(/\n/g, '<br>'))
            }},
            {targets: 7, createdCell: function (td, cellData, rowData) {
                var active_info = '激 活';
                if (cellData.enabled){
                    active_info = '取 消'
                }
                var active_disable = ' disabled';
                if ((rowData.status === 1)||(rowData.status === 2)){
                    active_disable = ''
                }
                $(td).html(
                    '<div class="btn-group">' +
                        '<button class="btn btn-success btn-xs" onclick="activeSchedule(\'' + cellData.name + '\')"' + active_disable + '>' + active_info + '</button>' +
                        '<button class="btn btn-danger btn-xs" onclick="deleteSchedule(\'' + cellData.name + '\')">删 除</button>' +
                    '</div>'
                )
            }}
        ],
        ajax_url: '{% url "api-ops:schedule-list" %}' + '?type=2',
        columns: [
            {data: "periodic"},
            {data: "kwargs_dict" },
            {data: "crontab_info" },
            {data: "status_info" },
            {data: "creator"},
            {data: "modify_time"},
            {data: "comment", orderable: false},
            {data: "periodic", orderable: false}
        ],
        op_html: $('#actions').html()
    };
    table = jumpserver.initDataTable(options);
    return table
}

$(document).ready(function(){
    initTable();
});

function activeSchedule(periodic_task_name) {

    $.ajax({
        url: "{% url 'api-ops:periodic_task-active' %}",
        type: 'POST',
        data: JSON.stringify({'task_name': periodic_task_name}),
        dataType: "json",
        contentType : 'application/json; charset=utf-8',
        {#async: false,#}  // jquery版本太低，取消异步未生效，谁来升个级？
        success: function (data, textStatus) {
            if (data.status){
                {#console.log(data.message);#}
                {#toastr.success(data.message);#}
                location.reload()
            }
            else {
                toastr.error(data.message);
            }
        },
        error: function () {
            toastr.error('操作失败');
        }
     });
}

function deleteSchedule(periodic_task_name) {
    $.ajax({
        url: "{% url 'api-ops:periodic_task-delete' %}",
        type: 'POST',
        data: JSON.stringify({'task_name': periodic_task_name}),
        dataType: "json",
        contentType : 'application/json; charset=utf-8',
        {#async: false,#} // jquery版本太低，取消异步未生效，谁来升个级？
        success: function (data, textStatus) {
            if (data.status){
                {#toastr.success(data.message);#}
                location.reload()
            }
            else {
                toastr.error(data.message);
            }
        },
        error: function () {
            toastr.error('操作失败');
        }
     });
}
</script>
{% endblock %}

