{% load i18n %}
{#<li id="index">#}
{#    <a href="{% url 'index' %}">#}
{#        <i class="fa fa-dashboard" style="width: 14px"></i> <span class="nav-label">{% trans 'Dashboard' %}</span><span#}
{#            class="label label-info pull-right"></span>#}
{#    </a>#}
{#</li>#}

{#<li id="assets">#}
{#    <a href="{% url 'assets:user-asset-list' %}">#}
{#        <i class="fa fa-files-o" style="width: 14px"></i><span class="nav-label">{% trans 'My assets' %}</span><span class="label label-info pull-right"></span>#}
{#    </a>#}
{#</li>#}

{#<li >#}
{#    <a href="{% url 'terminal:web-terminal' %}" target="_blank"><i class="fa fa-window-maximize" style="width: 14px"></i>#}
{#        <span class="nav-label">{% trans 'Web terminal' %}</span>#}
{#    </a>#}
{#</li>#}

{#<li id="users">#}
{#    <a href="{% url 'users:user-profile' %}">#}
{#        <i class="fa fa-user" style="width: 14px"></i> <span class="nav-label">{% trans 'Profile' %}</span><span class="label label-info pull-right"></span>#}
{#    </a>#}
{#</li>#}

<li id="assets">
    <a>
        <i class="fa fa-inbox" style="width: 14px"></i> <span class="nav-label">{% trans 'Assets' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="user-asset"><a href="{% url 'assets:user-asset-list' %}">{% trans 'My assets' %}</a></li>
        <li><a href="{% url 'terminal:web-terminal' %}" target="_blank">{% trans 'Web terminal' %}</a></li>
    </ul>
</li>

<li id="transfer">
    <a>
        <i class="fa fa-inbox" style="width: 14px"></i> <span class="nav-label">{% trans 'Transfer' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="schedule-import"><a href="{% url 'transfer:schedule-import-list' %}">{% trans 'Transfer in' %}</a></li>
        <li id="schedule-export"><a href="{% url 'transfer:schedule-export-list' %}">{% trans 'Transfer out' %}</a></li>
        <li id="command"><a href="{% url 'transfer:command-list' %}">{% trans 'Transfer command' %}</a></li>
        <li id="database"><a href="{% url 'transfer:database-list' %}">{% trans 'Transfer database' %}</a></li>
    </ul>
</li>